@import 'reset';
@import 'variables';
@import 'fonts';

@import 'components/product_list';

body{
	background: $polite_white;
	font-family: 'Raleway'
}

#main_header{
	background: $color1_darkGrey;
	color: white;
	padding: 1.15em;
}