<div class="listed_product">
	{{#if img}}
	<div class="img_container">
		<img src="{{img}}" alt="{{name}}">
	</div>
	{{/if}}
	<span class="product_name">{{name}}</span><span class="value">{{value}}</span>
	<button type="button">+</button>
</div>